.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 80px 170px;
}

.mywork-title {
  position: relative;
}

.mywork-title h1 {
  font-size: 80px;
  font-weight: 600;
}

.mywork-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* GRID */
.mywork-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

/* CARD */
.project-card {
  border: 2px solid white;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
  background: transparent;
}

.project-card:hover {
  transform: scale(1.04);
  border: 2px solid #ff00ff;
  box-shadow: 0 20px 40px rgba(182, 39, 248, 0.25);
  background-image: linear-gradient(
    267deg,
    rgba(212, 145, 44, 0.05) 0.36%,
    rgba(178, 30, 247, 0.05) 100%
  );
}

/* IMAGE */
.project-image {
    
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* CONTENT */
.project-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-content h2 {
  font-size: 28px;
  font-weight: 800;
  background: linear-gradient(267deg, #DF8908 0.36%, #B415FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-duration {
  font-size: 16px;
  color: #aaa;
}

.project-content ul {
  padding-left: 18px;
  color: #d4d4d4;
  font-size: 18px;
  line-height: 30px;
}

.project-link {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

.project-link:hover {
  gap: 20px;
  color: #ff00ff;
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .mywork {
    margin: 50px 70px;
    align-items: start;
  }

  .mywork-title h1 {
    font-size: 50px;
  }

  .mywork-title img {
    width: 130px;
  }

  .mywork-container {
    grid-template-columns: 1fr;
  }

  .project-image {
    height: 220px;
  }
}
