.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}

.mywork-title {
    position: relative;
}

.mywork-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.mywork-container img{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.4s;
    cursor: pointer;
}

.mywork-container img:hover{
    transform: scale(1.05);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.4s;

}

.mywork-showmore{
    display: flex;
gap: 15px;
border: 2px solid white;
border-radius: 50px;
padding: 30px 60px;
cursor: pointer;
font-size: 22px;
font-weight: 500;
transition: 0.4s;
margin-bottom: 80px;
transition: 0.6s;
}

.mywork-showmore:hover{
    background: linear-gradient(267deg, #DF8908 0.36%, #B415FF 100%);
    box-shadow: 0 20px 40px rgba(182, 39, 248, 0.25);
    border: none;
    color: black;
    transition: 0.6s;
    gap: 30px;
}
@media(max-width: 850px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .mywork-title img{
        width: 130px;
margin-right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin : 50px auto;
        cursor: pointer;
       }
}