body{
    margin: 0px;
    padding: 0px;
}
p{
    font-size: medium;
}
li{
    margin-top: 10px;
    display: inline;
}

#payground{
    display: inline;
}
.down{
 
    margin-left:10px ;
    height: 20px;
    width: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
header ul li img{
    display: inline;
}
.container{
    display: flex;
    margin: 80px;
}
.img1{
    width: 550px;
    height:650px ;
}
.bigfont{
    font-size: 25px;
    font-weight: bolder;
    padding-top: 50px;
    padding-right: 80px ;
    color:rgb(37, 36, 36);
}

main{
    margin-top: 30px;
}
#mob{
    height: 700px;
    width:480px;
}
#para2{
    margin-top: 600px;
    margin-left: 80px;
}
.social{
    height: 100px;
    width:400px;

}
.textcontainer{
    display: flex;
 
    margin-left: 400px;
    margin-right: 300px;

}
.cardcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px 70px;
    position: relative;
    
    
}
.card{
    
    width: 370px;
    height: 320px;
    background-color: #f1efe1;
    border-radius: 10px;
    overflow: hidden;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
}

.quote{
    width: 20px;
    height: 20px;
    position: absolute;
    top:10%;
    left:10%;
}

.svgs{
    width: 100px;
    height: 100px;
}
.card2{
    
    width: 370px;
    height: 320px;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.cardpara2{
    font-weight: bold;
}
.extended{
    width: 100%;
    height: 850px;
    background-color: #3a27a7;
}
.bigfont2{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 50px;
    padding-right: 80px ;
}
.footballimg{
    width: 1230px;
    margin: 0px 60px;
    margin-top: 40px;
    
}
.buttonbottom {
    background-color: white; /* Green */
    border: none;
    color: #3a27a7;
    border-radius: 10px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 500px;
  }
  .buttonbottom:hover {
    background-color:#dd9831dc; /* Green */
    border: none;
    color: #3a27a7;;
    border-radius: 10px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 500px;
  }
  .button1 {
    background-color: white; 
    border: solid;
    color: #3a27a7;
    border-radius: 10px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }
  .button2 {
    background-color: #3a27a7;
    border: solid;
    color:white; 
    border-radius: 10px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }
  footer{
    padding-left: 40px;
    padding-top: 20px;
    background-color: rgb(229, 226, 226);
  }
.container2{
    
    display: flex;
    /* margin: 80px; */
    padding: 0px 20px 80px 30px;
}
.footerimg{
    width: 150px;
    height: 100px;
}
footer h1{
    padding-left: 20px;
    font-weight: bolder;
    margin: 20px;
}
.rowcontainer{
    width: 300px;
    height: 320px;
    position:relative;
    display: flex;
    flex-direction: column;
    
    border-radius: 6px;
}
.footerlogo{
    width:80px;
    height: 80px;
}
.footericon{
    width: 20px;
    height: 20px;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
.last{
    margin-left: 900px;
    font-size: small;
    margin-right: 20px;
    padding-bottom: 30px;
}