.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

 .contact-section {
  display: flex;
  gap: 150px; /* space between columns */
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

 .contact-left h1{
     font-size: 80px;
     font-weight: 700;
     background: linear-gradient(267deg, #DF8908 80%, #B415FF 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
 }

 .contact-left p{
    max-width: 500px;
     font-size: 21px;
     color: #CCCCCC;
        line-height: 35px;
 }

 .contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
 }

 .contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
 }

 .contact-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 }

 .contact-right label{
    color: #D8D8D8;
    font-size: 20px;
    font-weight: 500;

 }

 .contact-right input{
    border: none;
    width: 700px;
    height: 60px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: #32323c;
    color: #A0A0A0;
    font-family: outfit, sans-serif;
    font-size: 20px;
}

.contact-right textarea{
    border: none;
    width: 688px;
    padding: 20px;
    border-radius: 5px;
    background-color: #32323c;
    color: #A0A0A0;
    font-family: outfit, sans-serif;
    font-size: 20px;
    resize: none;
}

.contact-right button{
   border:none;
   color: white;
   border-radius: 50px;
   background: linear-gradient(267deg, #DF8908 0.36%, #B415FF 100%);
   font-size: 20px;
   padding: 15px 50px;
   cursor: pointer;
   margin-bottom: 20px;
}

.contact-right button:hover{
    transform: scale(1.1);
    box-shadow: 0 20px 40px rgba(182, 39, 248, 0.25);
    transition: 0.4s;
}
@media(max-width: 850px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1{
        font-size: 50px;
        padding: 0;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
        gap: 50px;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
        line-height: 32px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
        
    }
    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }
    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}