.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

/* ===== TITLE ===== */
.experience-title {
  position: relative;
}

.experience-title h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 150px;
}

.experience-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* ===== GRID ===== */
.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
}

/* ===== CARD ===== */
.experience-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
}

.experience-card:hover {
  transform: scale(1.05);
  border: 2px solid #ff00ff;
  box-shadow: 0 20px 40px rgba(182, 39, 248, 0.25);
  background-image: linear-gradient(
    267deg,
    rgba(212, 145, 44, 0.05) 0.36%,
    rgba(178, 30, 247, 0.05) 100%
  );
}

/* ===== HEADER ===== */
.experience-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.experience-header h2 {
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(267deg, #DF8908 0.36%, #B415FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-period {
  font-size: 18px;
  color: #d4d4d4;
}

/* ===== COMPANY ===== */
.experience-company {
  font-size: 28px;
  font-weight: 600;
  color: white;
}

/* ===== LIST ===== */
.experience-list {
  list-style: none;
  padding-left: 0;
}

.experience-list li {
  color: #d4d4d4;
  font-size: 22px;
  line-height: 38px;
  max-width: 500px;
  position: relative;
  padding-left: 20px;
}

.experience-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: #B415FF;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1000px) {
  .experience {
    align-items: start;
    gap: 70px;
    margin: 20px 70px;
  }

  .experience-title h1 {
    padding: 0;
    font-size: 50px;
  }

  .experience-title img {
    width: 130px;
    margin-right: -20px;
  }

  .experience-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .experience-card {
    padding: 32px;
  }

  .experience-header h2 {
    font-size: 28px;
  }

  .experience-company {
    font-size: 22px;
  }

  .experience-list li {
    font-size: 18px;
    line-height: 32px;
  }
}
